/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
    
  }
  
  .navbar-links {
    display: flex;
    /* justify-content: space-between; */
    gap: 20px;
    color: black;
   
  }
  
  .navbar-links a {
    text-decoration: none;
    color: #333;
  }
  
  .navbar-mobile-menu {
    display: flex;
    gap: 20px;
  }
  